{% extends "base/base.html" %}
{% load bootstrap4 %}
{% load admin_link %}

{% block head %}
<title>django-template Example Page</title>
{% endblock head%}

{% block body %}
<div class="container">
  <h2 class="mt-5">This is an placeholder app for django-template</h2>
  <p><i class="fas fa-rocket"></i> Good luck on your project!</p>

  {% bootstrap_messages as messages %}
  {% if messages.strip %} {# #}
  <h4 class="mt-4">Here are some Bootstrap messages</h4>
  <p>{{ messages }}</p>
  {% endif %}

  {% if dt_stripe %}
  <h4 class="mt-4">dt-stripe</h4>
  <a href="{% url 'dt-stripe:index' %}">
    <button class="btn btn-primary mt-2">Admin Console</button>
  </a>
  {% endif %}

  <h4 class="mt-4">dt-content</h4>
  <a href="{% url 'dt-content:index' %}" class="btn btn-primary mt-2">
    Admin Console
  </a>

  {% if simple_sendgrid %}
  <h4 class="mt-4">simple-sendgrid</h4>
  <a href="{% url 'simple-sendgrid:index' %}" class="btn btn-primary mt-2">
    Admin Console
  </a>
  {% endif %}

  <h4 class="mt-4">Test out the admin_link app</h4>
  <p>These are admin links related to users.</p>
  {% if not request.user.is_superuser %}
  <p>You may need to sign in as admin to see these links.</p>
  {% endif %}
  {% admin_link request.user 'changelist' %}
  {% admin_link request.user 'add' %}
  {% admin_link request.user 'change' %}
  {% admin_link request.user 'delete' %}

  <h4 class="mt-4">Support The Project 💌</h4>
  <a href="https://github.com/itsnamgyu/django-template">
    <button class="btn btn-dark px-3 py-2 mt-2"><i class="fab fa-github mr-2"></i>View on GitHub</button>
  </a>
</div>
{% endblock body %}

{% block body_script %}
{% endblock body_script %}
