h1 {
  color: #222;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h2 {
  color: #444;
  font-size: 1.25rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

p {
  color: #666;
  font-size: 0.9375rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

h1:first-child,
h2:first-child,
p:first-child {
  margin-top: 0;
}

h1:last-child,
h2:last-child,
p:last-child {
  margin-bottom: 0;
}

.card {
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
