{% extends "base/base.html" %}
{% load bootstrap4 %}

{% block head %}
<title>django-template Example Page</title>
{% endblock head%}

{% block body %}
<div class="container">
  <h2 class="mt-5">This is an example app for django-template</h2>
  <p><i class="fas fa-rocket"></i> Good luck on your project!</p>

  {% bootstrap_messages as messages %}
  {% if messages.strip %} {# #}
  <h4 class="mt-4">Here are some Bootstrap messages</h4>
  <p>{{ messages }}</p>
  {% endif %}

  <h4 class="mt-4">Support The Project 💌</h4>
  <a href="https://github.com/itsnamgyu/django-template">
    <button class="btn btn-dark px-3 py-2 mt-2"><i class="fab fa-github mr-2"></i>View on GitHub</button>
  </a>
</div>
{% endblock body %}

{% block body_script %}
{% endblock body_script %}